@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Sans+Pro:wght@200&family=Titillium+Web:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
.ctn{
    width: 1640px;
}
.container{
    width: 1440px;
}
@media(min-width:992px){
    .header-bottom .work .container{
        max-width: 1640px;
    }
}
.header-top{
    height: 59px;
    background: #1e1e1e;
}
.header-top p{
    text-transform: uppercase;
}
.header-bottom{
    height: 96px;
}
.header-bottom img{
    margin-right: 16px;
}
.header-bottom h3{
    text-transform: uppercase;
}
.header-bottom li{
    margin-left: 34px;
    text-transform: capitalize;
}
/*collection*/
.collection{
    background-image:url('img/shutterstock_546764419.png');
    width: 100%;
    height: 870px;
    background-repeat: no-repeat;
    background-position: ;
    background-size: cover;
    z-index: 1;
}
.collection{
    padding-top: 170px;
}
.collection .line{
    width: 88px;
    height: 3px;
    background: #1e1e1e;
    margin-right: 26px;
}
.collection h2{
    font-size: 70px;
    text-transform: capitalize;
}
.collection h3{
    font-size: 40px;
    text-transform: capitalize;
}
.collection button{
    margin-top: 60px;
    text-transform: uppercase;
}
/*work*/
.work .left-img{
    margin-top: -152px;  
}
.work-right img{
    width: px;
    margin-right: 40px;
}
.work-right h6, .staff h6{
    margin-top: 25px;
}
/*hinter*/
.hinter{
    background-image:url('img/eduardo-dutra-493420.png');
    width: 100%;
    height: 870px;
    background-repeat: no-repeat;
    background-position: ;
    background-size: cover;
    z-index: 1;
}
.hinter .conders{
    margin-top: 345px;
    padding: 65px 0 0 69px;
    width: 560px;
    height: 195px;
    background: #fff;
}
.hinter .conders .arrow{
    width: 51px;
    height: 1px;
    background: #000;
    margin-right: 17px;
}
.hinter .conder img{
    width: 11px;
}
/*staff*/
.staff{
    padding-bottom: 400px;
}
.staff img{
    margin-right: 40px;
}
.special-img{
    padding: 35px;
    background: #f1f1f1;
    height: 385px;
}
/* seller */
.seller .new{
    margin-top: -150px;
    padding: 150px;
    background: #f1f1f1;
}
.seller .best{
    margin-top: -340px;
}
.seller .img-bottom-left{
    width: 500px;
    height: 310px;
    border: 10px solid #000;
    padding-left: 100px;
    margin-top: 270px;
}
.seller .img-bottom-left-inside{
    height: 90px;
    background: #fff;
    top: 90px;
    right: -215px;
}
.seller .img-bottom-right{
    margin-left: 430px;
}
/* instagram */
.instagram{
    background-image: linear-gradient(to right, #dceef5, #f8dde3);
    height: 393px;
}
.instagram img{
    margin: 104px 0 38px 0;
}
/*footer*/
footer{
    background: #161616;
    color: #fff;
}
footer h6{
    text-transform: uppercase;
    padding: 70px 0 22px 0;
}
footer a{
    text-transform: capitalize;
    padding-bottom: 21px;
}
footer a, footer p{
    opacity: 0.5;
}
footer .footer-bor{
    border: 1px solid #48c8fd;
    margin: 16px 0 31px ;
}
footer .footer-icon i{
    padding: 15px;
    background: #222;
    margin-right: 14px;
}
footer .footer-mid-bor{
    border: 1px solid #2a2a2a;
    margin-top: 35px;
}
footer .footer-bottom{
    height: 76px;
}